<header>
  <div class="container">
    <a href="#">Logo</a>
    <nav>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
      <a href="/login" class="btn">Login</a>
    </nav>
  </div>
</header>
