<% if (message.length > 0) { %>
<div class="alert alert-danger" role="alert" id="alertMessage">
  <%= message %>
</div>
<script>
  setTimeout(function () {
    var alertMessage = document.getElementById("alertMessage");
    if (alertMessage) {
      alertMessage.style.display = "none";
    }
  }, 5000);
</script>
<% } %>

<div class="container my-5 card text-center" style="width: 300px">
  <div class="card-header h5 text-white bg-primary">Password Reset</div>

  <div class="card-body px-5">
    <div class="form-outline">
      <form action="/users/forgot-password" method="POST">
        <input
          type="email"
          id="typeEmail"
          name="email"
          class="form-control my-3"
          placeholder="Email"
        />

        <button type="submit" class="btn btn-primary">Send Link</button>
      </form>
    </div>

    <div class="d-flex justify-content-between mt-4">
      <a class="" href="/users/login">Login</a>
      <a class="" href="/users/sign-up">Register</a>
    </div>
  </div>
</div>
