<% if (message.length > 0) { %>
<div class="alert alert-danger" role="alert" id="alertMessage">
  <%= message %>
</div>
<script>
  setTimeout(function () {
    var alertMessage = document.getElementById("alertMessage");
    if (alertMessage) {
      alertMessage.style.display = "none";
    }
  }, 5000);
</script>
<% } %>

<div class="container my-5 card text-center" style="width: 300px">
  <div class="card-header h5 text-white bg-primary">Password Reset</div>

  <div class="card-body px-5">
    <div class="form-outline">
      <form action="/users/reset" method="POST" onsubmit="return validatePasswords();">
        <input
          type="password"
          id="form3Example5"
          name="password"
          class="form-control my-3"
          placeholder="New Password"
        />
        <input
          type="password"
          id="form3Example6"
          name="confirmPassword"
          class="form-control my-3"
          placeholder="Confirm Password"
        />
        <div id="passwordMatchMessage" class="text-danger"></div>

        <button type="submit" class="btn btn-primary">Reset</button>
      </form>
    </div>
  </div>
</div>
<script>
  function validatePasswords() {
    const passwordInput = document.getElementById("form3Example5");
    const confirmPasswordInput = document.getElementById("form3Example6");
    const passwordMatchMessage = document.getElementById(
      "passwordMatchMessage"
    );
    const passwordValue = passwordInput.value;
    const confirmPasswordValue = confirmPasswordInput.value;

    // Remove any existing validation message
    passwordMatchMessage.textContent = "";

    if (!arePasswordsMatching(passwordValue, confirmPasswordValue)) {
      passwordMatchMessage.textContent = "Passwords do not match.";
      return false;
    }

    return true;
  }

  function arePasswordsMatching(password, confirmPassword) {
    return password === confirmPassword;
  }

  document
    .getElementById("form3Example6")
    .addEventListener("input", validatePasswords);
</script>