<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website Layout | CodingLab</title>
    <link rel="stylesheet" href="../../css/dashboard.css " />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
  </head>
  <body>
    <nav>
      <div class="menu">
        <div class="logo">
          <a href="#">MDRD</a>
        </div>
        <ul>
          <li><button id="logout">Log Out</button></li>
        </ul>
      </div>
    </nav>
    <div class="img"></div>
    <div class="center">
      <div class="title">Welcome</div>
    </div>
    <script>
      document.getElementById("logout").addEventListener("click", function() {
        window.location.href = "/logout";
      });
    </script>
  </body>
</html>
