<link href="../../css/login.css" rel="stylesheet" type="text/css" />

<div class="login">
  <form class="login-container" method="POST" action="/login" autocomplete="off">
    <img src="https://cdn-icons-png.flaticon.com/128/3106/3106921.png" alt="" />
    <div class="input-container">
      <p><input type="email" placeholder="Email" name="email" required/></p>
      <p>
        <input type="password" placeholder="Password" name="password" required />
      </p>
     <p><button type="submit">Log In</button></p>
    </div>
  </form>
</div>
