<!-- Spinner Start -->
<div
  id="spinner"
  class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
>
  <div
    class="spinner-border text-primary"
    style="width: 3rem; height: 3rem"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
</div>
<!-- Spinner End -->

<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
  <nav class="navbar bg-secondary navbar-dark">
    <a href="index.html" class="navbar-brand mx-4 mb-3">
      <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>E-Cart</h3>
    </a>
    <div class="d-flex align-items-center ms-4 mb-4">
      <div class="position-relative">
        <img
          class="rounded-circle"
          src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/
          RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAH8AVQMBIgACEQEDEQH/xAAcAAEAAQUBAQAAAAAAAAAAAAAABwIDBQYIAQT/
          xAA2EAABAwMCBAUDAgMJAAAAAAABAAIDBAUREiEGBzFBEyJRYXEUgZEVUiNyoQgyNEKisdHh8P/EABUBAQEAAAAAAAAAAAAAAAAAAAAB/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/
          aAAwDAQACEQMRAD8Au0VqAaPL2WVgtowPKsvTUYAG3ZfaymA7KoxMNuH7VVVspqCnfUVkscMLBl0kjg0D7la1xxxv+h1UlJQaHyUwYZW53c92SG+wDW5PfzNGyjnjLi64XuhpKaqrIpM4nlihj0tjcR5W5ydWAc/
          J9UVJk/G3C8NNNKy4MndGPLFG06pD6Nzj/hadXc15fqmmgtkf04bgiZ51F3yNsKNCV4oJMouajhSS/X2xklUD/D8F2lh/mzkj7LO8N8f2q8TRUlYx1FWSHS3VvG53YB3r84ULIg6akpPZY2sogQdlF3CHH10t9fTwXCrE1DJK1snj/wCRp2JB67dfsplhlpbhTMqaKeOeB4y17DkFVGl1ltBk/
          urxbLU0o19EQblHT6QMhXfDaF9skbQNlYc06SB1xsg5y5ox+Nfqh0DZHyQNaysIaA3UMgP2Od985Gxx6haIeqny8csxdXz3Okqaqku72ubMJnjRI/TjOWjofjGOoB6Q9xXw1XcL1sNHdDCKiWES6IpNWgFxAB/GfuorBoiICIiD0KbuUVygrLDLTD/EQv8AO0NdgNxgbnOc4JUIKe+T9FSx8HQ1MMYE8z3iZ37iHnH4CDYahnnXq+mdnmRVG0FypJTC8IQYOvvwZeW2W3xxz3HwDUPbJJobHHnA7Zc4noB6EkjbPOXHdVUV/
          EtZXVdRFO+chzTEdmt0ghoGTjAIH5U58b0tBSuut3udtFY1ttjNPhrg5skT5ScSN3YcSt3yDhp9FzhWVD6qqlqJAxr5XFxDGhrRn0AUVZREQEREHo6roflPRvpeBqHX1mc+UewLjj+gUB2i3VF3udNb6NuqeokEbB6Z7n2HX7LqW1W6O1Wukt8Li6OlhbE1xG7tIxk/KCiVmXIr0g3RVGcVDlWQqSEFBGdjuCuYOaMMFLxvc6ampGUscUgAYxgYHZGrOB/N+MLqLCgjn9ZpIL3TXlo/hVMbYnn0e3OB+AiooREUBERBN3JHhF1JSniSujIkqGllGxw6R93/
          AHxge3ypSfhRDyGulfVVlyoqmrmmpoqeMxxyPLhHg6QG56DHb2ClyTKqLEnVFTJnKINh0hUOaAqycKhxJQWyFqXMrhKm4qsjBV3L9PbROdP47m6mAY82oZHbvlbXPNHTwvmneGRsGXOPQBc8cy+ZVXxFNNbLY7wLQx2Nt3VGO7vb0H+6DUr3aKW30dJU0la6rZVF5Y7wtADQcb7nBJB2WGVyWeWUYkkc4A5Dc7D4CtqKIiINq5e8X1HCV4bINJoahzW1jCwElgPUHqCMk47rpgFksbJYntkie0OY9py1wPQg+i49WasHFV6sFXHPbq+ZoZgeC9xdG5v7S07Y/wDBB1FI3dFGFt502ySmH6tbKqKoGx+m0vY73Gogj43+UVRNBWI4pvkHD9lqq6WSmE0cZdDHPMIxK7sB/
          wBKjjTiKHhbhyqu0zBI6IBsUWceJIdmj47n2BXKV5utZerlPcLjM6WomeXOJOwz2HoB2CDd7xzbu94ifDV0dO2Eg6Y4XOaM+pzklR0iKKIiICIiAiIgIiIJs/tB3hkzKS0RvOqBzJ5APV4eB+A3/UoTWy8wrvJduL7vMXExfUljBnszyA/gf1WtICIiAiIgIiICIiAiIgrlkfNK+SQ6nvcXOJ7kqhEQEREBERAREQEREBERB//Z"
          alt=""
          style="width: 40px; height: 40px"
        />
        <div
          class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"
        ></div>
      </div>
      <div class="ms-3">
        <h6 class="mb-0">Muhammed Rashid</h6>
        <span>Admin</span>
      </div>
    </div>
    <div class="navbar-nav w-100">
      <a href="/admin/dashboard" class="nav-item nav-link active"
        ><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a
      >
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
          ><i class="fa fa-laptop me-2"></i>Category Actions</a
        >
        <div class="dropdown-menu bg-transparent border-0 mx-5">
          <a href="/admin/add-category" class="dropdown-item"
            ><h6 class="fw-normal mb-0 p-2">Add Category</h6></a
          >
          <a href="/admin/view-category" class="dropdown-item"
            ><h6 class="fw-normal mb-0 p-2">Category View</h6></a
          >
        </div>
      </div>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
          ><i class="fa fa-laptop me-2"></i>Brand Actions</a
        >
        <div class="dropdown-menu bg-transparent border-0 mx-5">
          <a href="/admin/add-brand" class="dropdown-item"
            ><h6 class="fw-normal mb-0 p-2">Add Brand</h6></a
          >
          <a href="/admin/view-brand" class="dropdown-item"
            ><h6 class="fw-normal mb-0 p-2">Brand View</h6></a
          >
        </div>
      </div>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
          ><i class="fa fa-laptop me-2"></i>Product Actions</a
        >
        <div class="dropdown-menu bg-transparent border-0 mx-5">
          <a href="/admin/add-product" class="dropdown-item"
            ><h6 class="fw-normal mb-0 p-2">Add Product</h6></a
          >
          <a href="/admin/view-product" class="dropdown-item"
            ><h6 class="fw-normal mb-0 p-2">Product View</h6></a
          >
        </div>
      </div>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
          ><i class="fa fa-laptop me-2"></i>Coupon Actions</a
        >
        <div class="dropdown-menu bg-transparent border-0 mx-5">
          <!-- <a href="/admin/add-coupon" class="dropdown-item"
            ><h6 class="fw-normal mb-0 p-2">Add Coupon</h6></a
          > -->
          <a href="/admin/view-coupons" class="dropdown-item"
            ><h6 class="fw-normal mb-0 p-2">Coupon View</h6></a
          >
        </div>
      </div>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
          ><i class="fa fa-laptop me-2"></i>Banner Actions</a
        >
        <div class="dropdown-menu bg-transparent border-0 mx-5">
          <a href="/admin/add-banner" class="dropdown-item"
            ><h6 class="fw-normal mb-0 p-2">Add Banner</h6></a
          >
          <a href="/admin/view-banner" class="dropdown-item"
            ><h6 class="fw-normal mb-0 p-2">Banner View</h6></a
          >
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- Sidebar End -->

<!-- Navbar Start -->
<nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
  <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
  </a>
  <a href="#" class="sidebar-toggler flex-shrink-0">
    <i class="fa fa-bars"></i>
  </a>
  <form class="d-none d-md-flex ms-4">
    <input
      class="form-control bg-dark border-0"
      type="search"
      placeholder="Search"
    />
  </form>
  <div class="navbar-nav align-items-center ms-auto">
    <div class="nav-item dropdown">
    
    </div>
    <div class="nav-item dropdown">
      
    </div>
    <div class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        <img
          class="rounded-circle me-lg-2"
          src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/
          RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAH8AVQMBIgACEQEDEQH/xAAcAAEAAQUBAQAAAAAAAAAAAAAABwIDBQYIAQT/
          xAA2EAABAwMCBAUDAgMJAAAAAAABAAIDBAUREiEGBzFBEyJRYXEUgZEVUiNyoQgyNEKisdHh8P/EABUBAQEAAAAAAAAAAAAAAAAAAAAB/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/
          aAAwDAQACEQMRAD8Au0VqAaPL2WVgtowPKsvTUYAG3ZfaymA7KoxMNuH7VVVspqCnfUVkscMLBl0kjg0D7la1xxxv+h1UlJQaHyUwYZW53c92SG+wDW5PfzNGyjnjLi64XuhpKaqrIpM4nlihj0tjcR5W5ydWAc/
          J9UVJk/G3C8NNNKy4MndGPLFG06pD6Nzj/hadXc15fqmmgtkf04bgiZ51F3yNsKNCV4oJMouajhSS/X2xklUD/D8F2lh/mzkj7LO8N8f2q8TRUlYx1FWSHS3VvG53YB3r84ULIg6akpPZY2sogQdlF3CHH10t9fTwXCrE1DJK1snj/wCRp2JB67dfsplhlpbhTMqaKeOeB4y17DkFVGl1ltBk/
          urxbLU0o19EQblHT6QMhXfDaF9skbQNlYc06SB1xsg5y5ox+Nfqh0DZHyQNaysIaA3UMgP2Od985Gxx6haIeqny8csxdXz3Okqaqku72ubMJnjRI/TjOWjofjGOoB6Q9xXw1XcL1sNHdDCKiWES6IpNWgFxAB/GfuorBoiICIiD0KbuUVygrLDLTD/EQv8AO0NdgNxgbnOc4JUIKe+T9FSx8HQ1MMYE8z3iZ37iHnH4CDYahnnXq+mdnmRVG0FypJTC8IQYOvvwZeW2W3xxz3HwDUPbJJobHHnA7Zc4noB6EkjbPOXHdVUV/
          EtZXVdRFO+chzTEdmt0ghoGTjAIH5U58b0tBSuut3udtFY1ttjNPhrg5skT5ScSN3YcSt3yDhp9FzhWVD6qqlqJAxr5XFxDGhrRn0AUVZREQEREHo6roflPRvpeBqHX1mc+UewLjj+gUB2i3VF3udNb6NuqeokEbB6Z7n2HX7LqW1W6O1Wukt8Li6OlhbE1xG7tIxk/KCiVmXIr0g3RVGcVDlWQqSEFBGdjuCuYOaMMFLxvc6ampGUscUgAYxgYHZGrOB/N+MLqLCgjn9ZpIL3TXlo/hVMbYnn0e3OB+AiooREUBERBN3JHhF1JSniSujIkqGllGxw6R93/
          AHxge3ypSfhRDyGulfVVlyoqmrmmpoqeMxxyPLhHg6QG56DHb2ClyTKqLEnVFTJnKINh0hUOaAqycKhxJQWyFqXMrhKm4qsjBV3L9PbROdP47m6mAY82oZHbvlbXPNHTwvmneGRsGXOPQBc8cy+ZVXxFNNbLY7wLQx2Nt3VGO7vb0H+6DUr3aKW30dJU0la6rZVF5Y7wtADQcb7nBJB2WGVyWeWUYkkc4A5Dc7D4CtqKIiINq5e8X1HCV4bINJoahzW1jCwElgPUHqCMk47rpgFksbJYntkie0OY9py1wPQg+i49WasHFV6sFXHPbq+ZoZgeC9xdG5v7S07Y/wDBB1FI3dFGFt502ySmH6tbKqKoGx+m0vY73Gogj43+UVRNBWI4pvkHD9lqq6WSmE0cZdDHPMIxK7sB/
          wBKjjTiKHhbhyqu0zBI6IBsUWceJIdmj47n2BXKV5utZerlPcLjM6WomeXOJOwz2HoB2CDd7xzbu94ifDV0dO2Eg6Y4XOaM+pzklR0iKKIiICIiAiIgIiIJs/tB3hkzKS0RvOqBzJ5APV4eB+A3/UoTWy8wrvJduL7vMXExfUljBnszyA/gf1WtICIiAiIgIiICIiAiIgrlkfNK+SQ6nvcXOJ7kqhEQEREBERAREQEREBERB//Z"
          alt=""
          style="width: 40px; height: 40px"
        />
        <span class="d-none d-lg-inline-flex">Admin</span>
      </a>
      <div
        class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0"
      >
        <a href="#" class="dropdown-item"
          ><h6 class="fw-normal mb-0">My Profile</h6></a
        >
        <a href="#" class="dropdown-item"
          ><h6 class="fw-normal mb-0">settings</h6></a
        >
        <a href="/admin/logout" class="dropdown-item"
          ><h6 class="fw-normal mb-0">Logout</h6></a
        >
      </div>
    </div>
  </div>
</nav>
<!-- Navbar End -->
