<section class="breadcrumb-area">
  <div class="container">
    <div class="radios-breadcrumb breadcrumbs">
      <ul class="list-unstyled d-flex align-items-center">
        <li class="radiosbcrumb-item radiosbcrumb-begin">
          <a href="index.html"><span>Home</span></a>
        </li>
        <li class="radiosbcrumb-item radiosbcrumb-end">
          <span>404</span>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="error__page pb-90">
  <div class="container">
    <div class="error__text text-center">
      <h1>404</h1>
      <h3>Oops... It looks like you ‘re lost !</h3>
      <p>
        Oops! The page you are looking for does not exist. It might have been
        moved or deleted.
      </p>
      <div class="go-back-btn mt-50">
        <a class="thm-btn thm-btn__2" href="/users/dashboard">
          <span class="btn-wrap">
            <span>Go Back Home</span>
            <span>Go Back Home</span>
          </span>
          <i class="far fa-long-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>
