<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="E-Cart - Minimal E-Commerce Platform" />
  <title>E-Cart</title>

  <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/3081/3081559.png" type="image/x-icon" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.11.2/toastify.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>

<body class="bg-white text-black font-sans">

  <div class="min-h-screen flex flex-col justify-between">

    <%- include('./partials/user-header') %>

    <main class="w-full max-w-screen-xl mx-auto">
      <%- body %>
    </main>

    <%- include('./partials/user-footer') %>

  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.11.2/toastify.min.js"></script>
  <script src="/js/toastify.js"></script>
</body>

</html>
