<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!--========= Required meta tags =========-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>E-Cart</title>

    <link
      rel="shortcut icon"
      href="https://cdn3.vectorstock.com/i/1000x1000/43/22/shopping-cart-logo-design-vector-21804322.jpg"
      type="images/x-icon"
    />

    <!-- css include -->
    <link rel="stylesheet" href="/assets/client/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/client/css/fontawesome.css" />
    <link rel="stylesheet" href="/assets/client/css/animate.css" />
    <link rel="stylesheet" href="/assets/client/css/metisMenu.css" />
    <link rel="stylesheet" href="/assets/client/css/uikit.min.css" />
    <link rel="stylesheet" href="/assets/client/css/jquery-ui.css" />
    <link rel="stylesheet" href="/assets/client/css/slick.css" />
    <link rel="stylesheet" href="/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="/assets/client/css/main.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevateZoom.min.js"></script> -->

 
  </head>
  <body>
    <div class="body_wrap">
      
      <%- include('./partials/user-header') %> 
      <%- body %> 
      <%- include('./partials/user-footer') %>
    </div>

    <!-- jquery include -->
    <script async src="/assets/client/js/jquery-3.5.1.min.js"></script>
    <script async src="/assets/client/js/bootstrap.bundle.min.js"></script>
    <script async src="/assets/client/js/slick.js"></script>
    <script async src="/assets/client/js/backToTop.js"></script>
    <script async src="/assets/client/js/uikit.min.js"></script>
    <script async src="/assets/client/js/resize-sensor.min.js"></script>
    <script async src="/assets/client/js/theia-sticky-sidebar.min.js"></script>
    <script async src="/assets/client/js/wow.min.js"></script>
    <script async src="/assets/client/js/jqueryui.js"></script>
    <script async src="/assets/client/js/touchspin.js"></script>
    <script async src="/assets/client/js/countdown.js"></script>
    <script async src="/assets/client/js/jquery.magnific-popup.min.js"></script>
    <script async src="/assets/client/js/metisMenu.min.js"></script>
    <script async src="/assets/client/js/main.js"></script>
    
  </body>
</html>
